


.page-template-page-candidates{


    #hebo{
      
 
        .post-thumb-wrap{
           // max-height: 600px;
            
          
 
         }
 
         
    }
}

/*
.page-template-page-about{
    h1,
    #about-process .about-process-title-wrap h2,
    .entry-content{
        margin-left: 200px;
    }

    #secound-content{
        .entry-content{
            margin-right: 200px;
             margin-left: auto;
           
        }

    }

}   */