
@mixin rowMachine($numPerRow, $margin) {
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}
  
  @mixin rowMachine-rtl($numPerRow, $margin) {
    width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
    &:nth-child(n) {
      margin-bottom: $margin;
      margin-left: $margin;
    }
    &:nth-child(#{$numPerRow}n) {
      margin-right: 0;
      margin-left: 0;
    }
  }
  
  @mixin rowMachine-rtl-important($numPerRow, $margin) {
    width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
    &:nth-child(n) {
      margin-bottom: $margin !important;
      margin-left: $margin! important;
    }
    &:nth-child(#{$numPerRow}n) {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }
  
  
  
  /***********************************
    vertical align
  *************************************/
  
  @mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }


  @mixin horizontal-align($position: relative) {
    position: $position;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  
  @mixin total-align($position: relative) {
    position: $position;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  @mixin underline-titles(){
      text-align: right;
      font-size: 1.8rem;
      font-weight: bold;
      color:$primary;
      padding:0 15px;
      position: relative;
      padding-bottom:0.25rem;
      margin-bottom: 1.5rem;
      &:after{
          display: block;
          position: absolute;
          bottom:-2px;
          content:'';
          width:280px;
          height: 2px;
          background-image: linear-gradient( 270deg , $text-color, rgba( $white,0) );
      }
  } 

  @mixin underline-titles-center(){
    text-align: center;
    &:after{
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    
    }
}
  
@mixin underline-titles-right(){
  
    text-align: right;
    &:after{
        right:0;    
    }
  
} 
  
@mixin underline-orange(){
  &:after{
      border-color:$orange;
  }

}

@mixin underline-green(){
  &:after{
      border-color:$green;
  }
  
}

  @mixin  inline-labels() {
    .input-wrap{
        position: relative;
        padding-top: 0.15rem;
        padding-bottom: 0.15rem;
        label{
            padding:0.1rem 0.75rem 0;
            position: absolute;
            z-index: 2;
            right: 0;
        }
        input[type=text],
        input[type=search],
        input[type=url],
        input[type=tel],
        input[type=number],
        input[type=range],
        input[type=date],
        input[type=month],
        input[type=week],
        input[type=time],
        input[type=datetime],
        input[type=datetime-local],
        input[type=color],
        input[type=email],
        input[type=file],
        select{
            height: calc(3rem + 2px);
            padding-top:1.45rem;
            padding-bottom:.1rem;
            text-align: right;
            color:$black;
        }

        input[type=file]{
          height: calc(4rem + 2px);
        }

        textarea {
            padding-top:1.45rem;
            padding-bottom:.1rem;
        }
    }
    
  }

  @mixin page-form(){
    .wpcf7{
      direction: rtl;
      padding:1rem 1rem 0;

      legend h3{
          font-size:1.25rem;
          text-align: center;
          letter-spacing: 2px;

      }

      label{
          font-size:1rem;
          border-bottom: 1px solid $text-color;
          margin: 0.5rem auto;
          width:100%
      }

      input[type=email],
      input[type=tel],
      input[type=text]{
        
          display: inline;
          text-align: right;
          background: transparent;
          padding-bottom: 0;
          border: none;
          &:focus{
              background: rgba($white,0.5);
          }

      }

      input[type=email]{
          width:11rem;
      }

      input[type=tel],
      input[type=text]{
          width:15rem;    
      }

      input[type=submit]{
          margin-top:1.5rem; 
         // background: $text-color;//differ the fotter
          
         // color:$white; //differ the fotter
          border-radius: 4px;
         // border: 2px solid $cold-grey;//differ the fotter

          &:focus, &:hover{
              color:$white;
              background: $primary;
              border-color:  $primary;

          }  
      }
      
    }
  
  
  
  }

  /*
  @mixin content-titles(){

    h2{
      font-weight: 700;
      font-size:145%;
    }

    h3{
      font-weight: 700;
      font-size:135%;
    }

  }

  @mixin gradientbox($border:5px){
    /*
    display: flex;
    align-items: center;

    background: $bg-grey;
    background-clip: padding-box; /* !importanté */
    /*
    border: solid $border transparent; /* !importanté */
    /*border-radius: 1em;

    

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
   
  
      border-radius: inherit; /* !importanté *//*
      background: linear-gradient(to right, red, orange);
    }
}

@mixin framed-button(){
  color: $primary;
  font-weight: bold;
  background-color: $white;
  background-image: url('../img/gradient.png');
  background-repeat: no-repeat;
  background-size: 100% 200%;
  background-position-y: 100%;
  border:none;

  &:focus, &:hover{
      color:$white;
      background-color: transparent;
      background-position-y: 0;
  }
}
*/

  