// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #004877; // Thats a sample how you could change a BootStrap variable.
$secondary:#005EA3;
$accent:#8DC63F;

$green: #008249;
$yellow: #FDC500;
$gold: #C5AD6C;
$dark-gold:#8E793B;
$title-gold:#A68D46;

$text-color: #3E4354;

$call-us-color: $primary;
$nav-color: #67707D;

$blueish-bg: #e5ebf0;

$black:#000;
$white:#fff;
